body {
  color: orange;
}

.header {
  background-color: rgb(34, 33, 33);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .search {
  display: flex;
}

.search {
  display: flex;
}

.input {
  width: 100%;
  border: 3px solid orange;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: gray;
}

.searchTerm:focus {
  color: orange;
}

.searchButton {
  width: 40px;
  height: 20px;
  border: 1px solid orange;
  background: orange;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 17px;
}
